//setting variables
$primaryBGColor : rgb(0, 0, 0);
$primaryFGColor : rgb(0, 255, 0);
$secondaryFGColor : rgb(0, 60, 0);

$primaryFontSize : 4vw;
$secondaryFontSize : 0px;

$imageSize: 30vw;

body{
    background-color: $primaryBGColor;
    color: $primaryFGColor;
    margin: 20px;
    padding: 5px;
    font-family: Consolas, monaco, monospace;
    
    header{
        padding-bottom: 5px;
        border-bottom: 4px dashed $secondaryFGColor;
        h1 {
            text-align: center;
            font-size: $primaryFontSize;
            @media screen and (min-width:750px){
                font-size: 30px;
            }
        }
        #belowtitle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;

            img{
                max-width: 200px;
                max-height: 200px;
                width: $imageSize;
                height: $imageSize;
                border: 2px solid $primaryFGColor;
                border-radius: 50%;
            }

            #quote{
                width: 10vw;
                margin-left: 20px;
            }
        }
    }

    nav{
        #dropdownbutton{
            border: 1px solid $primaryFGColor;
        }

        ul{
            list-style: none;
        }
    }
}

a{
    color: $primaryFGColor;
}