//setting variables
$primaryBGColor : rgb(10, 10, 10);
$primaryFGColor : rgb(0, 255, 0);
$secondaryFGColor : rgb(0, 80, 0);
$ternaryFGColor : rgb(0, 160, 0);

$headerFontSize : 4vw;
$navFontSize : 4vw;

$borderThicness : 4px;

$imageSize: 30vw;

body{
    background-color: $primaryBGColor;
    color: $primaryFGColor;
    margin: 20px;
    padding: 5px;
    font-family: Consolas, monaco, monospace;
    
    header{
        padding-bottom: 5px;
        border-bottom: $borderThicness dashed $secondaryFGColor;
        h1 {
            text-align: center;
            font-size: $headerFontSize;
            @media screen and (min-width:700px){
                font-size: 30px;
            }
        }
        #belowtitle{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;

            img{
                max-width: 200px;
                max-height: 200px;
                width: $imageSize;
                height: $imageSize;
                border: 2px solid $primaryFGColor;
                border-radius: 50%;
            }

            #quote{
                width: 10vw;
                margin-left: 20px;
            }
        }
    }

    nav{
        ul{
            font-size: $navFontSize;
            @media screen and (min-width:750px){
                font-size: 30px;
            }

            list-style: none;
            display: flex;
            justify-content: space-evenly;
            li{
                padding-top: 5px;
            }
        }
        /*border-right: $borderThicness dashed $secondaryFGColor;
        border-left: $borderThicness dashed $secondaryFGColor;*/
        border-bottom: $borderThicness dashed $secondaryFGColor;
        @media screen and (max-width:750px){
            ul{
                display: block;
            }
        }
    }
}

a{
    text-decoration: none;
    color: $ternaryFGColor;
    &:hover{
        text-decoration: underline;
        color: $primaryFGColor;
    }
}